In [45]:
import pandas as pd

In [46]:
file_path = '/Users/jameskenny/Documents/GitHub/mini_project_week_3/Life Expectancy Data.csv'
life_expectancy_data = pd.read_csv(file_path)

World_Happiness1_Report = pd.read_csv('/Users/jameskenny/Documents/GitHub/mini_project_week_3/2015.csv')
World_Happiness2_Report = pd.read_csv('/Users/jameskenny/Documents/GitHub/mini_project_week_3/2016.csv')
World_Happiness3_Report = pd.read_csv('/Users/jameskenny/Documents/GitHub/mini_project_week_3/2017.csv')
World_Happiness4_Report = pd.read_csv('/Users/jameskenny/Documents/GitHub/mini_project_week_3/2018.csv')
World_Happiness5_Report = pd.read_csv('/Users/jameskenny/Documents/GitHub/mini_project_week_3/2019.csv')

In [47]:
from cleaning_functions import *

In [48]:
#life expectancy 
#overview
data_frame_overview(life_expectancy_data)

Column names:
 Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

Dimensions: (2938, 22)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   Alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   Hepatitis B                      2385 non-null   float64
 9   Measles                          2938 non-null   int64
 10   BMI                             2904 non-null   float64
 11  under-five deaths                2938 non-null   int64
 12  Polio                            2919 non-null   float64
 13  Total expenditure                2712 non-null   float64
 14  Diphtheria                       2919 non-null   float64
 15   HIV/AIDS                        2938 non-null   float64
 16  GDP                              2490 non-null   float64
 17  Population                       2286 non-null   float64
 18   thinness  1-19 years            2904 non-null   float64
 19   thinness 5-9 years              2904 non-null   float64
 20  Income composition of resources  2771 non-null   float64
 21  Schooling                        2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB
None

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
5,Afghanistan,2010,Developing,58.8,279.0,74,0.01,79.679367,66.0,1989,...,66.0,9.20,66.0,0.1,553.328940,2883167.0,18.4,18.4,0.448,9.2
6,Afghanistan,2009,Developing,58.6,281.0,77,0.01,56.762217,63.0,2861,...,63.0,9.42,63.0,0.1,445.893298,284331.0,18.6,18.7,0.434,8.9
7,Afghanistan,2008,Developing,58.1,287.0,80,0.03,25.873925,64.0,1599,...,64.0,8.33,64.0,0.1,373.361116,2729431.0,18.8,18.9,0.433,8.7
8,Afghanistan,2007,Developing,57.5,295.0,82,0.02,10.910156,63.0,1141,...,63.0,6.73,63.0,0.1,369.835796,26616792.0,19.0,19.1,0.415,8.4
9,Afghanistan,2006,Developing,57.3,295.0,84,0.03,17.171518,64.0,1990,...,58.0,7.43,58.0,0.1,272.563770,2589345.0,19.2,19.3,0.405,8.1

In [49]:
#life expectancy 
#checking duplicates and null values
null_check(life_expectancy_data)

dup_check(life_expectancy_data)
dropna_rows_cols(life_expectancy_data, 3, 3)

Total null values per row:
0       0
1       0
2       0
3       0
4       0
       ..
2933    0
2934    0
2935    0
2936    0
2937    0
Length: 2938, dtype: int64

Total null values per column:
Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

Duplicates found: False

Number of duplicates: 0

Deleted 0 rows
Deleted 0 columns

In [50]:
#life expectancy 
#removing uneccessary columns
selected_columns = ['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', ' BMI ', 'under-five deaths ', 'Total expenditure', 'GDP', 'Population', 'Schooling']

life_expectancy_data_clean = life_expectancy_data[selected_columns].copy()

data_frame_overview(life_expectancy_data_clean)

Column names:
 Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', ' BMI ',
       'under-five deaths ', 'Total expenditure', 'GDP', 'Population',
       'Schooling'],
      dtype='object')

Dimensions: (2938, 14)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country                 2938 non-null   object
 1   Year                    2938 non-null   int64
 2   Status                  2938 non-null   object
 3   Life expectancy         2928 non-null   float64
 4   Adult Mortality         2928 non-null   float64
 5   infant deaths           2938 non-null   int64
 6   Alcohol                 2744 non-null   float64
 7   percentage expenditure  2938 non-null   float64
 8    BMI                    2904 non-null   float64
 9   under-five deaths       2938 non-null   int64
 10  Total expenditure       2712 non-null   float64
 11  GDP                     2490 non-null   float64
 12  Population              2286 non-null   float64
 13  Schooling               2775 non-null   float64
dtypes: float64(9), int64(3), object(2)
memory usage: 321.5+ KB
None

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,BMI,under-five deaths,Total expenditure,GDP,Population,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,19.1,83,8.16,584.259210,33736494.0,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,18.6,86,8.18,612.696514,327582.0,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,18.1,89,8.13,631.744976,31731688.0,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,17.6,93,8.52,669.959000,3696958.0,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,17.2,97,7.87,63.537231,2978599.0,9.5
5,Afghanistan,2010,Developing,58.8,279.0,74,0.01,79.679367,16.7,102,9.20,553.328940,2883167.0,9.2
6,Afghanistan,2009,Developing,58.6,281.0,77,0.01,56.762217,16.2,106,9.42,445.893298,284331.0,8.9
7,Afghanistan,2008,Developing,58.1,287.0,80,0.03,25.873925,15.7,110,8.33,373.361116,2729431.0,8.7
8,Afghanistan,2007,Developing,57.5,295.0,82,0.02,10.910156,15.2,113,6.73,369.835796,26616792.0,8.4
9,Afghanistan,2006,Developing,57.3,295.0,84,0.03,17.171518,14.7,116,7.43,272.563770,2589345.0,8.1

In [51]:
#life expectancy 
#formatting column names
format_column_names(life_expectancy_data_clean, column_name_mapping = {'status':'development_status',})

New column names:
 Index(['country', 'year', 'development_status', 'life_expectancy',
       'adult_mortality', 'infant_deaths', 'alcohol', 'percentage_expenditure',
       'bmi', 'under-five_deaths', 'total_expenditure', 'gdp', 'population',
       'schooling'],
      dtype='object')

In [52]:
#happiness report
#formating column names
column_name_mapping = {'score':'happiness_score', 'overall rank':'happiness_rank', 'overall_rank':'happiness_rank',
                       'country or region':'country', 'country_or_region':'country',  'happiness.rank':'happiness_rank',
                       'happiness.score':'happiness_score'}

format_column_names(World_Happiness1_Report, column_name_mapping)
format_column_names(World_Happiness2_Report, column_name_mapping)
format_column_names(World_Happiness3_Report, column_name_mapping)
format_column_names(World_Happiness4_Report, column_name_mapping)
format_column_names(World_Happiness5_Report, column_name_mapping)

New column names:
 Index(['country', 'region', 'happiness_rank', 'happiness_score',
       'standard_error', 'economy_(gdp_per_capita)', 'family',
       'health_(life_expectancy)', 'freedom', 'trust_(government_corruption)',
       'generosity', 'dystopia_residual'],
      dtype='object')
New column names:
 Index(['country', 'region', 'happiness_rank', 'happiness_score',
       'lower_confidence_interval', 'upper_confidence_interval',
       'economy_(gdp_per_capita)', 'family', 'health_(life_expectancy)',
       'freedom', 'trust_(government_corruption)', 'generosity',
       'dystopia_residual'],
      dtype='object')
New column names:
 Index(['country', 'happiness_rank', 'happiness_score', 'whisker.high',
       'whisker.low', 'economy..gdp.per.capita.', 'family',
       'health..life.expectancy.', 'freedom', 'generosity',
       'trust..government.corruption.', 'dystopia.residual'],
      dtype='object')
New column names:
 Index(['happiness_rank', 'country', 'happiness_score', 'gdp_per_capita',
       'social_support', 'healthy_life_expectancy',
       'freedom_to_make_life_choices', 'generosity',
       'perceptions_of_corruption'],
      dtype='object')
New column names:
 Index(['happiness_rank', 'country', 'happiness_score', 'gdp_per_capita',
       'social_support', 'healthy_life_expectancy',
       'freedom_to_make_life_choices', 'generosity',
       'perceptions_of_corruption'],
      dtype='object')

In [53]:
#happiness report
#adding year column to each dataset
World_Happiness1_Report['year'] = 2015
World_Happiness2_Report['year'] = 2016
World_Happiness3_Report['year'] = 2017
World_Happiness4_Report['year'] = 2018
World_Happiness5_Report['year'] = 2019

In [54]:
#happiness report
#combining datasets

world_happiness_report_combined_clean = pd.concat([World_Happiness1_Report[['country','year','happiness_rank','happiness_score']],
                                           World_Happiness2_Report[['country','year','happiness_rank','happiness_score']],
                                           World_Happiness3_Report[['country','year','happiness_rank','happiness_score']],
                                           World_Happiness4_Report[['country','year','happiness_rank','happiness_score']],
                                           World_Happiness5_Report[['country','year','happiness_rank','happiness_score']]], axis=0)

In [55]:
#finding mismatched country names between the two datasets

countries_life_expectancy = set(life_expectancy_data_clean['country'].unique())
countries_world_happiness = set(world_happiness_report_combined_clean['country'].unique())

#countries that are in one dataset but not the other
mismatched_countries_life_expectancy = countries_life_expectancy - countries_world_happiness
mismatched_countries_world_happiness = countries_world_happiness - countries_life_expectancy

mismatched_countries_life_expectancy, mismatched_countries_world_happiness

({'Antigua and Barbuda',
  'Bahamas',
  'Barbados',
  'Bolivia (Plurinational State of)',
  'Brunei Darussalam',
  'Cabo Verde',
  'Congo',
  'Cook Islands',
  'Cuba',
  'Czechia',
  "Côte d'Ivoire",
  "Democratic People's Republic of Korea",
  'Democratic Republic of the Congo',
  'Dominica',
  'Equatorial Guinea',
  'Eritrea',
  'Fiji',
  'Grenada',
  'Guinea-Bissau',
  'Guyana',
  'Iran (Islamic Republic of)',
  'Kiribati',
  "Lao People's Democratic Republic",
  'Maldives',
  'Marshall Islands',
  'Micronesia (Federated States of)',
  'Monaco',
  'Nauru',
  'Niue',
  'Palau',
  'Papua New Guinea',
  'Republic of Korea',
  'Republic of Moldova',
  'Russian Federation',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent and the Grenadines',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Seychelles',
  'Solomon Islands',
  'Syrian Arab Republic',
  'The former Yugoslav republic of Macedonia',
  'Timor-Leste',
  'Tonga',
  'Tuvalu',
  'United Kingdom of Great Britain and Northern Ireland',
  'United Republic of Tanzania',
  'United States of America',
  'Vanuatu',
  'Venezuela (Bolivarian Republic of)',
  'Viet Nam'},
 {'Bolivia',
  'Congo (Brazzaville)',
  'Congo (Kinshasa)',
  'Czech Republic',
  'Hong Kong',
  'Hong Kong S.A.R., China',
  'Iran',
  'Ivory Coast',
  'Kosovo',
  'Laos',
  'Macedonia',
  'Moldova',
  'North Cyprus',
  'North Macedonia',
  'Northern Cyprus',
  'Palestinian Territories',
  'Puerto Rico',
  'Russia',
  'Somaliland Region',
  'Somaliland region',
  'South Korea',
  'Syria',
  'Taiwan',
  'Taiwan Province of China',
  'Tanzania',
  'Trinidad & Tobago',
  'United Kingdom',
  'United States',
  'Venezuela',
  'Vietnam'})

In [56]:
#formating country names so thez match in both datasets
country_name_dict = {'United Kingdom':'United Kingdom','United States of America':'United States','Macedonia':'North Macedonia','Russia':'Russia','Taiwan':'Taiwan',"Democratic People's Republic of Korea":'North Korea','Congo':'Congo','Bolivia':'Bolivia',"Côte d'Ivoire":'Ivory Coast','Iran':'Iran','Venezuela':'Venezuela','Syria':'Syria','Czechia':'Czech Republic','Czechia':'Czech Republic','Hong Kong':'Hong Kong','Cyprus':'Cyprus','Tanzania':'Tanzania', 'Viet Nam':'Vietnam', 'Somaliland region':'Somaliland region',  "Lao People's Democratic Republic":'Laos', 'Moldova':'Moldova'}
replace_strings_from_dict(world_happiness_report_combined_clean, 'country', country_name_dict)

replace_strings_from_dict(life_expectancy_data_clean, 'country', country_name_dict)

life_expectancy_data_clean.rename(columns={'Republic of Korea': 'South Korea'}, inplace=True)

Number of values changed for 'United Kingdom': 5
Number of values changed for 'Macedonia': 5
Number of values changed for 'Russia': 5
Number of values changed for 'Taiwan': 5
Number of values changed for 'Congo': 10
Number of values changed for 'Bolivia': 5
Number of values changed for 'Iran': 5
Number of values changed for 'Venezuela': 5
Number of values changed for 'Syria': 5
Number of values changed for 'Hong Kong': 5
Number of values changed for 'Cyprus': 10
Number of values changed for 'Tanzania': 5
Number of values changed for 'Somaliland region': 2
Number of values changed for 'Moldova': 5
Number of values changed for 'United Kingdom': 16
Number of values changed for 'United States of America': 16
Number of values changed for 'Macedonia': 16
Number of values changed for 'Russia': 16
Number of values changed for 'Democratic People's Republic of Korea': 16
Number of values changed for 'Congo': 32
Number of values changed for 'Bolivia': 16
Number of values changed for 'Côte d'Ivoire': 16
Number of values changed for 'Iran': 16
Number of values changed for 'Venezuela': 16
Number of values changed for 'Syria': 16
Number of values changed for 'Czechia': 16
Number of values changed for 'Cyprus': 16
Number of values changed for 'Tanzania': 16
Number of values changed for 'Viet Nam': 16
Number of values changed for 'Lao People's Democratic Republic': 16
Number of values changed for 'Moldova': 16

In [57]:
#finding mismatched country names between the two datasets

countries_life_expectancy = set(life_expectancy_data_clean['country'].unique())
countries_world_happiness = set(world_happiness_report_combined_clean['country'].unique())

#countries that are in one dataset but not the other
mismatched_countries_life_expectancy = countries_life_expectancy - countries_world_happiness
mismatched_countries_world_happiness = countries_world_happiness - countries_life_expectancy

mismatched_countries_life_expectancy, mismatched_countries_world_happiness

({'Antigua and Barbuda',
  'Bahamas',
  'Barbados',
  'Brunei Darussalam',
  'Cabo Verde',
  'Cook Islands',
  'Cuba',
  'Dominica',
  'Equatorial Guinea',
  'Eritrea',
  'Fiji',
  'Grenada',
  'Guinea-Bissau',
  'Guyana',
  'Kiribati',
  'Maldives',
  'Marshall Islands',
  'Micronesia (Federated States of)',
  'Monaco',
  'Nauru',
  'Niue',
  'North Korea',
  'Palau',
  'Papua New Guinea',
  'Republic of Korea',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent and the Grenadines',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Seychelles',
  'Solomon Islands',
  'Timor-Leste',
  'Tonga',
  'Tuvalu',
  'Vanuatu'},
 {'Hong Kong',
  'Kosovo',
  'Palestinian Territories',
  'Puerto Rico',
  'Somaliland region',
  'South Korea',
  'Taiwan',
  'Trinidad & Tobago'})

In [58]:
#life expectancy
#checking how many null values in alcohol colum
life_expectancy_data_clean['alcohol'].isnull().sum()

194

In [60]:
life_expectancy_data_clean = life_expectancy_data_clean.bfill()

In [35]:
#life expectancy
#export data frame as csv
life_expectancy_data_clean.to_csv('life_expectancy_data_clean.csv', index=False)

In [36]:
#happiness report
#export data frame as csv
world_happiness_report_combined_clean.to_csv('world_happiness_report_combined_clean.csv', index=False)