In [1]:
import pandas as pd

In [2]:
life_expectancy_record_df = pd.read_csv('life_expectancy_data_clean.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'life_expectancy_data_clean.csv'

In [3]:
countries_df = pd.read_csv('country_table.csv')

In [4]:
life_expectancy_record_df

,country,year,development_status,life_expectancy,adult_mortality,infant_deaths,alcohol,percentage_expenditure,bmi,under-five_deaths,total_expenditure,gdp,population,schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,19.1,83,8.16,584.259210,33736494.0,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,18.6,86,8.18,612.696514,327582.0,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,18.1,89,8.13,631.744976,31731688.0,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,17.6,93,8.52,669.959000,3696958.0,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,17.2,97,7.87,63.537231,2978599.0,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,27.1,42,7.13,454.366654,12777511.0,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,26.7,41,6.52,453.351155,12633897.0,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,26.3,40,6.53,57.348340,125525.0,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,25.9,39,6.16,548.587312,12366165.0,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,25.5,39,7.10,547.358878,12222251.0,9.8

In [5]:
countries_df

     Unnamed: 0  country_id         country_name
0             0           1          Afghanistan
1             1           2              Albania
2             2           3              Algeria
3             3           4               Angola
4             4           5  Antigua and Barbuda
..          ...         ...                  ...
187         187         188            Venezuela
188         188         189              Vietnam
189         189         190                Yemen
190         190         191               Zambia
191         191         192             Zimbabwe

[192 rows x 3 columns]

In [6]:
merged_df = life_expectancy_record_df.merge(countries_df[['country_id', 'country_name']], how='left', left_on='country', right_on='country_name')

In [7]:
merged_df = merged_df.drop('country_name', axis=1)
merged_df

,country,year,development_status,life_expectancy,adult_mortality,infant_deaths,alcohol,percentage_expenditure,bmi,under-five_deaths,total_expenditure,gdp,population,schooling,country_id
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,19.1,83,8.16,584.259210,33736494.0,10.1,1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,18.6,86,8.18,612.696514,327582.0,10.0,1
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,18.1,89,8.13,631.744976,31731688.0,9.9,1
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,17.6,93,8.52,669.959000,3696958.0,9.8,1
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,17.2,97,7.87,63.537231,2978599.0,9.5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,27.1,42,7.13,454.366654,12777511.0,9.2,192
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,26.7,41,6.52,453.351155,12633897.0,9.5,192
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,26.3,40,6.53,57.348340,125525.0,10.0,192
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,25.9,39,6.16,548.587312,12366165.0,9.8,192
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,25.5,39,7.10,547.358878,12222251.0,9.8,192

In [8]:
merged_df = merged_df.drop('country', axis=1)
merged_df

,year,development_status,life_expectancy,adult_mortality,infant_deaths,alcohol,percentage_expenditure,bmi,under-five_deaths,total_expenditure,gdp,population,schooling,country_id
0,2015,Developing,65.0,263.0,62,0.01,71.279624,19.1,83,8.16,584.259210,33736494.0,10.1,1
1,2014,Developing,59.9,271.0,64,0.01,73.523582,18.6,86,8.18,612.696514,327582.0,10.0,1
2,2013,Developing,59.9,268.0,66,0.01,73.219243,18.1,89,8.13,631.744976,31731688.0,9.9,1
3,2012,Developing,59.5,272.0,69,0.01,78.184215,17.6,93,8.52,669.959000,3696958.0,9.8,1
4,2011,Developing,59.2,275.0,71,0.01,7.097109,17.2,97,7.87,63.537231,2978599.0,9.5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,2004,Developing,44.3,723.0,27,4.36,0.000000,27.1,42,7.13,454.366654,12777511.0,9.2,192
2934,2003,Developing,44.5,715.0,26,4.06,0.000000,26.7,41,6.52,453.351155,12633897.0,9.5,192
2935,2002,Developing,44.8,73.0,25,4.43,0.000000,26.3,40,6.53,57.348340,125525.0,10.0,192
2936,2001,Developing,45.3,686.0,25,1.72,0.000000,25.9,39,6.16,548.587312,12366165.0,9.8,192
2937,2000,Developing,46.0,665.0,24,1.68,0.000000,25.5,39,7.10,547.358878,12222251.0,9.8,192

In [11]:
merged_df.to_csv('life_expectancy_record_table.csv')